In [1]:
import numpy as np
import pandas as pd

In [7]:
data = pd.read_csv('archive-2/FineTech_appData.csv')

In [8]:
data

,user,first_open,dayofweek,hour,age,screen_list,numscreens,minigame,used_premium_feature,enrolled,enrolled_date,liked
0,235136,2012-12-27 02:14:51.273,3,02:00:00,23,"idscreen,joinscreen,Cycle,product_review,ScanP...",15,0,0,0,NaN,0
1,333588,2012-12-02 01:16:00.905,6,01:00:00,24,"joinscreen,product_review,product_review2,Scan...",13,0,0,0,NaN,0
2,254414,2013-03-19 19:19:09.157,1,19:00:00,23,"Splash,Cycle,Loan",3,0,1,0,NaN,1
3,234192,2013-07-05 16:08:46.354,4,16:00:00,28,"product_review,Home,product_review,Loan3,Finan...",40,0,0,1,2013-07-05 16:11:49.513,0
4,51549,2013-02-26 18:50:48.661,1,18:00:00,31,"idscreen,joinscreen,Cycle,Credit3Container,Sca...",32,0,0,1,2013-02-26 18:56:37.841,1
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,222774,2013-05-09 13:46:17.871,3,13:00:00,32,"Splash,Home,ScanPreview,VerifyPhone,VerifySSN,...",13,0,0,1,2013-05-09 13:47:52.875,0
49996,169179,2013-04-09 00:05:17.823,1,00:00:00,35,"Cycle,Splash,Home,RewardsContainer",4,0,1,0,NaN,0
49997,302367,2013-02-20 22:41:51.165,2,22:00:00,39,"joinscreen,product_review,product_review2,Scan...",25,0,0,0,NaN,0
49998,324905,2013-04-28 12:33:04.288,6,12:00:00,27,"Cycle,Home,product_review,product_review,produ...",26,0,0,1,2013-04-28 12:35:38.709,0
49999,27047,2012-12-14 01:22:44.638,4,01:00:00,25,"product_review,ScanPreview,VerifyDateOfBirth,V...",26,0,0,0,NaN,1

In [9]:
cleanData = data = pd.read_csv('archive-2/clean_FineTech_appData.csv')
cleanData

,Unnamed: 0,user,dayofweek,hour,age,numscreens,minigame,used_premium_feature,enrolled,liked,...,SecurityModal,ResendToken,TransactionList,NetworkFailure,ListPicker,remain_screen_list,saving_screens_count,credit_screens_count,cc_screens_count,loan_screens_count
0,0,235136,3,2,23,15,0,0,0,0,...,0,0,0,0,0,7,0,0,0,1
1,1,333588,6,1,24,13,0,0,0,0,...,0,0,0,0,0,5,0,0,0,1
2,2,254414,1,19,23,3,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
3,3,234192,4,16,28,40,0,0,1,0,...,0,0,0,0,0,6,0,3,0,1
4,4,51549,1,18,31,32,0,0,1,1,...,0,0,0,0,0,10,0,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49995,222774,3,13,32,13,0,0,1,0,...,0,0,0,0,0,6,0,2,0,0
49996,49996,169179,1,0,35,4,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
49997,49997,302367,2,22,39,25,0,0,0,0,...,0,0,0,0,0,6,0,0,0,0
49998,49998,324905,6,12,27,26,0,0,1,0,...,0,0,0,0,0,13,0,0,0,0
49999,49999,27047,4,1,25,26,0,0,0,1,...,0,0,0,0,0,5,7,0,0,1

In [10]:
topScreen = pd.read_csv('archive-2/top_screens.csv')
topScreen

    Unnamed: 0              top_screens
0            0                    Loan2
1            1                 location
2            2             Institutions
3            3         Credit3Container
4            4              VerifyPhone
5            5         BankVerification
6            6        VerifyDateOfBirth
7            7              ProfilePage
8            8            VerifyCountry
9            9                    Cycle
10          10                 idscreen
11          11         Credit3Dashboard
12          12                    Loan3
13          13              CC1Category
14          14                   Splash
15          15                     Loan
16          16                      CC1
17          17         RewardsContainer
18          18                  Credit3
19          19                  Credit1
20          20              EditProfile
21          21                  Credit2
22          22                 Finances
23          23                      CC3
24          24                  Saving9
25          25                  Saving1
26          26                   Alerts
27          27                  Saving8
28          28                 Saving10
29          29              Leaderboard
30          30                  Saving4
31          31             VerifyMobile
32          32            VerifyHousing
33          33             RewardDetail
34          34      VerifyHousingAmount
35          35     ProfileMaritalStatus
36          36         ProfileChildren
37          37         ProfileEducation
38          38                  Saving7
39          39    ProfileEducationMajor
40          40                  Rewards
41          41              AccountView
42          42       VerifyAnnualIncome
43          43         VerifyIncomeType
44          44                  Saving2
45          45                  Saving6
46          46            Saving2Amount
47          47                  Saving5
48          48          ProfileJobTitle
49          49                    Login
50          50  ProfileEmploymentLength
51          51                  WebView
52          52            SecurityModal
53          53                    Loan4
54          54              ResendToken
55          55          TransactionList
56          56           NetworkFailure
57          57               ListPicker